
.searchco {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  .input {
    width: 30%;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .submit {
    margin: 0;
  }
  
  .result {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
  }
  
  .no-results {
    margin-top: 20px;
    font-size: 18px;
    color: #ff0000;
  }